<div class="media">
    <div class="media-left">
       <a href="">
          <img class="media-object" src="https://img.pokemondb.net/artwork/large/charmeleon.jpg" width="100" height="100" alt="">
       </a>
    </div>
 <div class="media-body">
    <h5 class="media-heading">Charmeleon</h5>
    <p>It has a barbaric nature. In battle, it whips its fiery tail around and slashes away with sharp claws.</p>
 </div>
</div>

<div class="media">
 <div class="media-left">
    <a href="">
       <img class="media-object" src="https://upload.wikimedia.org/wikipedia/en/1/1f/Pokémon_Charizard_art.png" width="100" height="100" alt="">
    </a>
 </div>
 <div class="media-body">
    <h5 class="media-heading">Charizard</h5>
    <p>It spits fire that is hot enough to melt boulders. It may cause forest fires by blowing flames.</p>
 </div>
</div>









<ul class='nav nav-tabs' role='tablist'>
   <li role='presentation' class=' active in'>
      <a href='#description-tab 'aria-controls='home' role='tab' data-toggle='tab'>Description</a>
   </li>
   <li role='presentation' class=''>
      <a href='#stats-tab' aria-controls='home' role='tab' data-toggle='tab'>Stats</a>
   </li>
   <li role='presentation' class=''>
      <a href='#typing-tab' aria-controls='home' role='tab' data-toggle='tab'>Typing</a>
   </li>
   </ul>
   <div class='tab-content'>
   <div role='tabpanel' class='tab-pane fade active in' id='description-tab'>description content</div>
   <div role='tabpanel' class='tab-pane fade' id='stats-tab'> 
      
   </div>
   <div role='tabpanel' class='tab-pane fade' id='typing-tab'>Fire</div></div></div>